<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestSuite">
    <test name="Authorization">
        <classes>
            <class name="TestPackage.Test1" />
        </classes>
    </test>
    <test name="ChangeCity">
        <classes>
            <class name="TestPackage.Test2" />
        </classes>
    </test>
    <test name="CheckOrderGoods">
        <classes>
            <class name="TestPackage.Test3" />
        </classes>
    </test>
    <test name="CheckFiltersGoods">
        <classes>
            <class name="TestPackage.Test4" />
        </classes>
    </test>
</suite>